<html
  xmlns:th="http://www.thymeleaf.org"
  lang="en">
<th:block th:fragment="systemVariable">
  <script th:inline="javascript">

    let systemVariable = {
      web_resources_title : [[${@environment.getProperty("web.resources.title")}]],

      web_resources_common_page_icon: [[${@environment.getProperty("web.resources.common.page.icon")}]],
      web_resources_common_page_icon_icon_is_favicon: [[${@environment.getProperty("web.resources.common.page.iconIsFavicon")}]],

      web_resources_sidebar_title : [[${@environment.getProperty("web.resources.sidebar.title")}]],

      web_resources_footer_title : [[${@environment.getProperty("web.resources.footer.title")}]],
    };
  </script>
</th:block>
</html>