html, body {
    height: 100%;
    /*min-height: 100vh;*/
}

sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 280px;
    height: 100vh;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}

main {
    flex-grow: 1;
    padding-bottom: 8px;
    /*display: flex;*/
    /*overflow-y: auto;*/
}

footer{
    /*height: 120px;*/
}