<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- BASE CSS  -->
  <link rel="stylesheet" href="/css/base.css">

  <!-- CORE CSS  -->
  <link rel="stylesheet" href="/vendor/bootstrap-5.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="/vendor/bootstrapTable-1.19.1/bootstrap-table.css">
  <link rel="stylesheet" href="/vendor/fontawesome-free-5.15.4-web/css/all.css">

  <!-- CORE JS -->
  <script src="/vendor/jQuery-3.6.0/jquery.js"></script>
  <script src="/vendor/bootstrap-5.1.3/js/bootstrap.bundle.js"></script>
  <script src="/vendor/bootstrapTable-1.19.1/bootstrap-table.js"></script>
  <script src="/vendor/chartjs-3.7.0/chart.js"></script>
</head>
<body>

  <div class="container-fluid h-100">
    <div class="row h-100">
      <!-- SIDEBAR -->
      <th:block th:replace="/fragment/layout/sidebar.html :: sidebar"></th:block>

      <div class="offset-md-2 col-md-10 pt-2">
        <div class="d-flex flex-column flex-grow-1 h-100">
          <!-- MAIN CONTENT -->
          <main layout:fragment="content"></main>

          <!-- FOOTER -->
          <th:block th:replace="/fragment/layout/footer.html :: footer"></th:block>
        </div>
      </div>
    </div>
  </div>

  <!-- CONFIG JS -->
  <th:block th:replace="/fragment/configScript/configScript.html :: configScript"></th:block>

  <!-- PAGE JS -->
  <th:block layout:fragment="script"></th:block>
</body>
</html>