<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- BASE CSS  -->
  <link rel="stylesheet" href="/vendor/base.css">

  <!-- CORE CSS  -->
  <link rel="stylesheet" href="/vendor/bootstrap-5.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="/vendor/bootstrapTable-1.19.1/bootstrap-table.css">
  <link rel="stylesheet" href="/vendor/fontawesome-free-5.15.4-web/css/all.css">

  <!-- CORE JS -->
  <script src="/vendor/jQuery-3.6.0/jquery.js"></script>
  <script src="/vendor/bootstrap-5.1.3/js/bootstrap.bundle.js"></script>
  <script src="/vendor/bootstrapTable-1.19.1/bootstrap-table.js"></script>
  <script src="/vendor/chartjs-3.7.0/chart.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <sidebar class="col-md-2 py-2 bg-light">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <i class="fab fa-angellist fa-2x"></i>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="far fa-clipboard fa-1x"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            <i class="fas fa-users fa-1x"></i>
            Member
          </a>
        </li>
<!--        <li>-->
<!--          <a href="#" class="nav-link link-dark">-->
<!--            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>-->
<!--            Orders-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#" class="nav-link link-dark">-->
<!--            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>-->
<!--            Products-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="#" class="nav-link link-dark">-->
<!--            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>-->
<!--            Customers-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </sidebar>
    <main class="offset-md-2 col-md-10 py-2">
      <div class="row pb-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h1>test1</h1>
              <h1>test2</h1>
              <h1>test3</h1>
              <h1>test4</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h1>test1</h1>
              <h1>test2</h1>
              <h1>test3</h1>
              <h1>test4</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h1>test1</h1>
              <h1>test2</h1>
              <h1>test3</h1>
              <h1>test4</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h1>test1</h1>
              <h1>test2</h1>
              <h1>test3</h1>
              <h1>test4</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h1>test1</h1>
              <h1>test2</h1>
              <h1>test3</h1>
              <h1>test4</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h1>test1</h1>
              <h1>test2</h1>
              <h1>test3</h1>
              <h1>test4</h1>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="offset-md-2 col-md-10 bg-black bg-opacity-25">

    </footer>
  </div>
</div>

<th:block layout:fragment="script"></th:block>
</body>
</html>