<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<sidebar th:fragment="sidebar" class="col-md-2 py-2 bg-light">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <i class="sidebarIcon fab fa-angellist fa-2x"></i>
    <span id="sidebarTitle" class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul id="sidebarMenu" class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/" class="nav-link link-dark active">
        <i class="far fa-clipboard fa-1x"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/member" class="nav-link link-dark">
        <i class="fas fa-users fa-1x"></i>
        Member
      </a>
      <!--        <li>-->
      <!--          <a href="#" class="nav-link link-dark">-->
      <!--            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>-->
      <!--            Orders-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li>-->
      <!--          <a href="#" class="nav-link link-dark">-->
      <!--            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>-->
      <!--            Products-->
      <!--          </a>-->
      <!--        </li>-->
      <!--        <li>-->
      <!--          <a href="#" class="nav-link link-dark">-->
      <!--            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>-->
      <!--            Customers-->
      <!--          </a>-->
      <!--        </li>-->
  </ul>
</sidebar>
</html>